*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eae6dd;
    width: 100%;
    height: 100vh;
    position: relative;
}

.navbar {
   background-color: #f4fcff;
}
 
.navbar-brand img{
    width: 70px;
    height: 70px;
    margin-left: 50%;
}

.navbar-nav {
    margin-left: 23%;
    display: inline-flex;
    gap: 1rem;
}

.nav-item .nav-link{
    font-weight: 500;
    font-size: 0.85rem;
    color: #966535;
    margin: 0 10px;
    position: relative;
    transition: 0.2s linear;
}

.nav-item  a:hover,
.nav-item  a:hover::before {
    width: 100%;
    color: #b2804e;
    text-shadow: 0 0 15px #b2804e;
}

.btn {
    width: 140px;
    height: 35px;
    margin-right: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #765a3f;
    color: white;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.2s linear;
}

.btn:hover {
    background-color: #b07e50;
    color: white;
}


/* home page */

.home-page {
    background-color: #eae6dd;
    height: 100vh;
}

.home-content{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    line-height: 2rem;
}
 
.home-content h5{
    font-size: 1rem;
}

.home-content h1 {
    color: #b07e50;
    font-size: 3rem;
    line-height: 3rem;
    white-space: nowrap;
}

.home-content p {
    margin-top: 0.7em;
    font-size: 1rem;
    line-height: 2rem;
}

.btn-contact {
    width: 140px;
    height: 40px;
    margin-right: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #765a3f;
    color: white;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.2s linear;
}

.btn-contact:hover {
    background-color: #b07e50;
    color: white;
}

.home-img img{
    max-width: 53%;
    height: auto;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: 25%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


/* About page */

.abt-page {
    background-color: #f4fcff;
    height: 100vh;
}

.abt-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    line-height: 2rem;
}

.abt-content h1 {
    font-size: 2.5rem;
    margin-top: 4%;
    margin-bottom: 20px;
    margin-left: 20%;
    color: #9a6e46;
}

.abt-content p {
    margin-top: 0.7rem;
    font-size: 0.9rem;
    color: black;
    
}

.abt-img img{
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 15%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Works page */

.works-page {
    height: 100vh;
}

.works h1 {
    font-size: 2.5rem;
    margin-top: 5%;
    margin-bottom: 10px;
    margin-left: 40%;
    color: #9a6e46;
} 

.carousel-item{
    margin-left: 25%;
    margin-bottom: 5%;
}

.carousel-item .card{
    height: 400px;
    background-color: whitesmoke;
    border: none;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.carousel-item .work-img{
    width: 700px;
    height: fit-content;
    margin-top: 20%;
    margin-left: 10px;
}

.carousel-item .card-body {
    margin-top: 25%;
    margin-left: 10px;
}


/* Testimiols */


.feedback-page{
    height: 100vh;
    background-color: #f4fcff;
    
}

.feedback-page h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 40%;
    padding-top: 3%;
    color: #9a6e46;
}

.feedback-page .card {
    border: none;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 5%;
    margin-bottom: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.feedback-page .card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding: 2px;
}

.feedback-page .card .card-body {
    padding: 20px;
    text-align: center;
}

.feedback-page .card .card-text {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 20px;
    line-height: 1.1rem;
}